<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>


<form class="form-horizontal" method="post">
  {% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend>Weather data</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="temperature"></label>
  <div class="col-md-4">
  <input id="temperature" name="temperature" type="text" placeholder="Sisestage temperatuur" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="humidity"></label>
  <div class="col-md-4">
  <input id="humidity" name="humidity" type="text" placeholder="Sisestage õhuniiskus" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="wind_strenght"></label>
  <div class="col-md-4">
  <input id="wind_strenght" name="wind_strenght" type="text" placeholder="Sisestage tuulekiirus" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="wind_direction"></label>
  <div class="col-md-4">
  <input id="wind_direction" name="wind_direction" type="text" placeholder="Sisestage tuulesuund" class="form-control input-md" required="">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Saada</button>
</div>

</div>
</fieldset>
</form>

<h1> Existing Items </h1>
{%if weather_records %}
  {% for weather_record in weather_records %}
    <div>
      <p>Temperature: {{weather_record.temperature }}</p>
      <p>Humidity: {{weather_record.humidity }}</p>
      <p>Direction: {{weather_record.wind_direction }}</p>
      <p>Wind Intensity: {{weather_record.wind_strenght}}</p>
      <p>Time of record: {{weather_record.date_of_record }}</p>

    </div>
  {% endfor %}
{% else %}
  <p><strong>There are no records.</strong></p>
{% endif %}

</body>
</html>

